<%- include("header") %>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/login" method="post">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" required />
      <br/>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required />
      <br/>
      <button type="submit">Se connecter</button>

<%- include("footer") %>
